html, body {
   font-family: "Karla", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;

   background-color:  hsl(148, 38%, 91%);
}

h2 {
   color: hsl(180, 3%, 25%);

   padding: 25px;
   margin-bottom: -12px;
}

.container {
   background-color:  hsl(0, 0%, 100%);

   width: 700px;
   height: 900px;

   margin-right: auto;
   margin-left: auto;

   border-radius: 10px;
}

.container-inputs {
   display: flex;
   justify-content: center;
   gap: 48px;
   padding: 20px 20px;
}

.text-first {
   margin-left: 4px;
}

.text-last {
   margin-left: 8px;
}

.input-name {
   width: 280px;
   height: 40px;

  border-radius: 8px;
  border: 1px solid hsl(169, 82%, 27%);
  border-style: double;

  padding-left: 15px;
}

.input-lastname {
   width: 280px;
   height: 40px;

   border-radius: 8px;
   border: 1px solid hsl(169, 82%, 27%);
   border-style: double;

   padding-left: 15px;
}


.text-email {
   margin-left: 5px;
}

.input-email {
   width: 625px;
   height: 40px;

   border-radius: 8px;
   border: 1px solid hsl(169, 82%, 27%);
   border-style: double;

   padding-left: 15px;
   margin-left: 2px;
}


.container-email {
   display: flex;
   justify-content: center;
}

.form-group {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.form-label {
   font-size: 17px;
   font-weight: 500;
   color: #333;
   padding-left: 27px;
   margin: 10px 0 10px 0;
}

.required {
   color: hsl(169, 82%, 27%);
}

.button-container {
   display: flex;
   gap: 26px;
   padding-left: 30px;
}

.radio-option {
 display: inline-flex;
 align-items: center;
 border: 1px solid #ccc;
 border-radius: 8px;
 padding: 10px 20px;
 cursor: pointer;
 background-color: white;
 transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;

 margin-left: -3px;
}

.radio-option:hover {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.radio-option input {
  display: none;
}

.radio-option .content {
   display: flex;
   align-items: center;
   gap: 10px;
}

.circle {
   width: 16px;
   height: 16px;
   border: 2px solid #ccc;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.circle::after {
   content: '';
   width: 8px;
   height: 8px;
   background-color: transparent;
   border-radius: 50%;
   transition: background-color 0.3s;
}

.radio-option span {
   font-size: 18px;
   color: #333;
   text-transform: capitalize;


   width: 240px;
}

.radio-option input:checked + .content .circle {
   border-color: hsl(169, 82%, 27%);
}

.radio-option input:checked + .content .circle::after {
   background-color:  hsl(169, 82%, 27%);
}

.radio-option input:checked {
   background-color: #e6f4ea;
   border-color: hsl(169, 82%, 27%);
}

.input-message {
   width: 640px;
   height: 80px;

   border-radius: 8px;
   border: 1px solid hsl(169, 82%, 27%);
   border-style: double;

   margin-left: -4px;
   padding-left: 10px;
}

.container-message p {
   margin-left: 28px;
}

.checkbox-container {
   display: flex;
   align-items: center;
   margin-left: 12px;
}

.checkbox-container input[type="checkbox"] {
   margin-left: 18px;
   margin-right: 10px;
}

.input-btn {
   width: 650px;
   height: 50px;

   border: none;
   border-radius: 8px;
   background-color: hsl(169, 82%, 27%);
   color: hsl(0, 0%, 100%);

   font-size: 16px;
   font-weight: 600;

   cursor: pointer;
   transition: all 0.8s ease-in;
}

.input-btn:hover {
   background-color: hsl(170, 88%, 10%);
}

.container-button {
   display: flex;
   justify-content: center;
}